.body{
    background: gray;
}

.box-all-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.content-container{
    height: 500px;
    width: 375px;
    background-color: white;
    border: solid;
    border-width: 1px;


}
.nav-container{
    width: 375px;
    height: 80px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid;
    border-width: 1px;
    background-color: white;

    
}
.people-icon{
    margin-right: 12px;
}
.messege-container{
    display: flex;
    width: 375px;
    height: 80px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    border: solid;
    border-width: 1px;
}
button{
    margin-right: 12px;
}

img{
    margin-left: 14px;
    width: 73px;
    height: 53px;
}
ion-icon {
    font-size: 42px;
}
input{
    width: 300px;
    border: none;
    margin-left: 17px;
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
}
input:focus{
    outline: none;
    font-style: normal;
}

::placeholder{
    color: #000000;
}

input:focus::placeholder {
    color: transparent;
}